<html>
<style>
        table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
        }

        td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
        }

        th {
                text-align: center;
                background-color: #8bdc75;
                color: white;
        }

        td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
        }

        img {
                max-width: 600px;
                max-height: 500px;
        }

</style>
<head>
        <title>PhotoJar</title>
</head>
<body>
        <h1>Similar Photos</h1>
<table>
        <tr>
                <th>KEY</th>
                <th>VALUE</th>
        </tr>
        #foreach( $key in $similar.keySet())
                <tr>
                        <td><a href="$key"><img src="$key"></a></td>
                        <td><a href="$similar.get($key)"><img src="$similar.get($key)"></a></td>
                </tr>
        #end
</table>
</body></html>