<html>
<style>
        table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
        }

        td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
        }

        th {
                text-align: center;
                background-color: #8bdc75;
                color: white;
        }

        td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
        }

        img {
                max-width: 600px;
                max-height: 500px;
        }

</style>
<head>
        <title>PhotoJar</title>
</head>
<body>
        <h1>Similar Photos</h1>
<table>
        <tr>
                <th>ORIGIN</th>
                <th>ORIGIN METADATA</th>
                <th>SIMILAR METADATA</th>
                <th>SIMILAR</th>
        </tr>
        #foreach( $key in $photoHashMap.keySet())
                <tr>
                        <td><img src="$photoHashMap.get($key).getPath()" onclick="copyToClipboard(this.src)" onmouseout="outFunc()"></td>
                        <td>File Size: $photoHashMap.get($key).getFileSize()kb<br>Width: $photoHashMap.get($key).getWidth()<br>Height: $photoHashMap.get($key).getHeight()</td>
                        <td>File Size: $key.getFileSize()kb<br>Width: $key.getWidth()<br>Height: $key.getHeight()</td>
                        <td><img src="$key.getPath()" onclick="copyToClipboard(this.src)" onmouseout="outFunc()"></td>
                </tr>
        #end
</table>
        <script>
                function copyToClipboard(source) {
                        navigator.clipboard.writeText(source.substring(7));
                }
        </script>
</body></html>
